
<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/test.css"> 
    <link rel="stylesheet" href="/stylesheets/style.css">    
  </head>

  <body>

    <div class="navigation"></div>    
    <div class="page"></div>
    <script type="text/x-template" id="full-navbar-template">
      <nav class="navbar navbar-default head_color" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
              <li class="active"><a href="#"><p><b>Home</b></p></a></li>
              <li id="up"><a href="#new"><p><b>Sign Up</b></p></a></li>
              <li id="in"><a href="#signin"><p><b>Sign In</b></p></a></li>
           </ul>
          </div>
        </div>
      </nav>
    </script>


    <script type="text/x-template" id="landing-template">
      <div class="col-md-6 col-md-offset-3"><br><br><br>
        <div class="jumbotron">
          <h1>Hello, Visitor!</h1>
          <p>This is landing Page</p>     
        </div>
      </div>
    </script>

    <script type="text/x-template" id="create-user-template">
      <div class="col-md-offset-3 col-md-6 signup">
        <h3 class="center-text">Sign Up</h3 align="center">
        <hr> 
        <form class="form-horizontal create-user-form">
          <div class="form-group">
            <label class="col-sm-3 control-label">First Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control " id="firstName" name="firstName" placeholder="First Name" required>
            </div>
          </div>
          <div class="form-group">
          <label class="col-sm-3 control-label">Last Name:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
              <input type="email" class="form-control " name="email" placeholder="Email Address" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-9"> 
              <input type="password" class="form-control " id="password" name="password" placeholder="Password" required>  
            </div>
          </div>
          <div class="form-group"> 
            <label class="col-sm-3 control-label">Confirm Password:</label>
            <div class="col-sm-9">
              <input type="password" class="form-control " id="confirm_password" name="confirm_password" placeholder="ConfirPassword" required>
            </div>
          </div>
          
          
          <div class="form-group">
            <div class="col-sm-offset-5">
              <button type="submit" class="btn btn-success ">Sign Up</button>
            </div>             
          </div>
        </form>
      </div>
      <script>
      </script>
    </script>

    <script type="text/x-template" id="login-user-template">
      <div class="col-md-offset-3 col-md-4 signin">
        <form class="form-horizontal login-user-form" role="form">
          <h4 class="center-text">User Login</h4>
          <hr>

          <div class="form-group"> 
            <label class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="email" placeholder="Email Address" >
            </div>
          </div>

          <div class="form-group"> 
            <label class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-9">
              <input type="password" class="form-control " name="password" placeholder="Password" required >
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success button-padding">Sign In</button>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-3">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h6>Dont have an account? <a href="#new"><u>Sign Up Here</u></a></h6>
            </div>
          </div>
        </form>
      </div>
    </script>



    <script src= "/javascripts/lib/jquery.js"></script> 
    <script src= "/javascripts/lib/handlebars.js"></script>
    <script src= "/javascripts/lib/underscore.js"></script>
    <script src= "/javascripts/lib/backbone.js"></script>
    <script src= "/javascripts/lib/bootstrap.min.js"></script>
    <script src="/javascripts/backbone_utils.js"></script>
    <script src="/javascripts/registration/model.js"></script>
    <script src="/javascripts/registration/view.js"></script>
    <script src="/javascripts/registration/router.js"></script>
    <script src="/javascripts/registration/app.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  </body>
</html>